Filme/Filme/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Serviciu_web" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Serviciu_web" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviciu web pentru C#</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Serviciu_web">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generateUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="link1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="link2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generateUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="generateUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="load">
        <s:complexType />
      </s:element>
      <s:element name="loadResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="generateUrlSoapIn">
    <wsdl:part name="parameters" element="tns:generateUrl" />
  </wsdl:message>
  <wsdl:message name="generateUrlSoapOut">
    <wsdl:part name="parameters" element="tns:generateUrlResponse" />
  </wsdl:message>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="loadSoapIn">
    <wsdl:part name="parameters" element="tns:load" />
  </wsdl:message>
  <wsdl:message name="loadSoapOut">
    <wsdl:part name="parameters" element="tns:loadResponse" />
  </wsdl:message>
  <wsdl:portType name="Primul_x0020_serviciu_x0020_webSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="generateUrl">
      <wsdl:input message="tns:generateUrlSoapIn" />
      <wsdl:output message="tns:generateUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">add two numbers</wsdl:documentation>
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="load">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">loads data</wsdl:documentation>
      <wsdl:input message="tns:loadSoapIn" />
      <wsdl:output message="tns:loadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Primul_x0020_serviciu_x0020_webSoap" type="tns:Primul_x0020_serviciu_x0020_webSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="Serviciu_web/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateUrl">
      <soap:operation soapAction="Serviciu_web/generateUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="Serviciu_web/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="load">
      <soap:operation soapAction="Serviciu_web/load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Primul_x0020_serviciu_x0020_webSoap12" type="tns:Primul_x0020_serviciu_x0020_webSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="Serviciu_web/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateUrl">
      <soap12:operation soapAction="Serviciu_web/generateUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap12:operation soapAction="Serviciu_web/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="load">
      <soap12:operation soapAction="Serviciu_web/load" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Primul_x0020_serviciu_x0020_web">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviciu web pentru C#</wsdl:documentation>
    <wsdl:port name="Primul_x0020_serviciu_x0020_webSoap" binding="tns:Primul_x0020_serviciu_x0020_webSoap">
      <soap:address location="http://localhost:51869/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="Primul_x0020_serviciu_x0020_webSoap12" binding="tns:Primul_x0020_serviciu_x0020_webSoap12">
      <soap12:address location="http://localhost:51869/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>